<h1>Genres#index</h1>
<p>Find me in app/views/genres/index.html.erb</p>

<%=form_with model: @genre, local:true do |f| %>

<%=f.text_field :name %>
<%=f.submit "追加" %>
<% end %>

<% @genres.each do |genre| %>

<h4>名前</h4>
<%= genre.name %>
<%=link_to "編集", edit_genre_path(genre) %>
<%=link_to "削除", genre_path(genre), method: :delete %>
<% end %>