
 <div class="row mt-5 ml-5">
   <% blogs.each do |blog| %>
    <div id="blog_<%= blog.id %>">

  <div class="col-auto">
   <p><%= link_to blog_path(blog) do %>
       <%=attachment_image_tag blog, :image, :fill, 180, 140, format: 'jpeg', fallback: "no_image.png", size:'180x140' %>
       <% end %></p>

  <div class="row">
   <div class="col-8">
     <%=blog.name %><br>
     <%=blog.genre.name %><br>
     <%=blog.price %></p>
   </div>
   <div class="col-4">
     <div class="favorite-btn"><%= render "favorites/favorite-btn", blog: blog %></div>
    </div>
   </div>
  </div>

   <%#= link_to "削除", blog_path(blog), method: :delete%>
   </div>
   <% end %>
  </div>