 <div class ="mt-5 mr-5">

  <h4 class = "border-bottom border-dark fas fa-search-plus">シーン検索</h4>

  <div class="mt-3"><%=link_to sort_blogs_path(scene: "誕生日") do %>
                     <%= image_tag "birthday3.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

  <div class="mt-3"><%=link_to  sort_blogs_path(scene: "記念日") do %>
                     <%= image_tag "hands.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

  <div class="mt-3"><%=link_to sort_blogs_path(scene: "お祝い") do %>
                     <%= image_tag "new-years.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

  <div class="mt-3"><%=link_to sort_blogs_path(scene: "サプライズ") do %>
                     <%= image_tag "bouquet.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

  <div class="mt-3"><%=link_to sort_blogs_path(scene: "自分へのご褒美") do %>
                     <%= image_tag "woman.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

  <div class="mt-3"><%=link_to sort_blogs_path(scene: "プロポーズ") do %>
                     <%= image_tag "sunset.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

  <div class="mt-3"><%=link_to sort_blogs_path(scene: "クリスマス") do %>
                     <%= image_tag "moon.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

  <div class="mt-3"><%=link_to sort_blogs_path(scene: "その他") do %>
                     <%= image_tag "gift-2.jpg",width:"150",height:"150" %>
                    <% end %>
  </div>

 </div>