<main>

 <h1>Blogs#index</h1>

<h1>検索</h1>
<%= search_form_for @q, url: search_blogs_path do |f| %>
  <%= f.label :scene_or_partner_or_name_or_price_or_title_cont, '検索' %>
  <%= f.search_field :scene_or_partner_or_name_or_price_or_title_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<p><%=link_to "blog#new", new_blog_path %></p>


<table>
 <thead>
  <tr>
   <th>image</th>
   <th>favorite</th>
   <th><%= sort_link(@q, :scene, "Scene") %></th>
   <th><%= sort_link(@q, :partner, "Partner") %></th>
   <th><%= sort_link(@q, :genre_name, "Genre_Name") %></th>
   <th><%= sort_link(@q, :name, "Name") %></th>
   <th><%= sort_link(@q, :price, "Price") %></th>
　 <th>title</th>
　 <th>body</th>
   <th colspan="3"></th>
  </tr>
 </thead>
 <tbody>
  <% @blogs.each do |blog| %>
  <tr>
   <td><%=attachment_image_tag blog, :image, :fill, 100, 100, format: 'jpeg' %></td>
   <td><% if blog.favorited_by?(current_user) %>
    <%= link_to blog_favorites_path(blog), method: :delete do %>
      ♥<%= blog.favorites.count %> いいね
    <% end %>
   <% else %>
    <%= link_to blog_favorites_path(blog), method: :post do %>
    ♡<%= blog.favorites.count %> いいね
    <% end %>
   <% end %></td>
   <td><%=blog.scene %></td>
   <td><%=blog.partner %></td>
   <td><%=blog.genre.name %></td>
   <td><%=blog.name %></td>
   <td><%=blog.price %></td>
   <td><%=blog.title %></td>
   <td><%=blog.body %></td>
   <td><%= link_to "詳細", blog_path(blog) %>
       <%= link_to "削除", blog_path(blog), method: :delete%></td>
   <% end %>
   </tr>
  </tbody>
 </table>
</main>