<main>

 <div class="containar-fluid">
  <div class="row">
   <div class ="col-lg-8">
    <h1>blog 一覧</h1>
   </div>
   <div class ="col-lg-4">
     <%= search_form_for @q, url: search_blogs_path do |f| %>
     <%#= f.label :scene_or_partner_or_name_or_price_or_title_cont, '検索' %>
     <%= f.search_field :scene_or_partner_or_name_or_price_or_title_cont %>
     <%= f.submit '検索' %>
     <% end %>

     <h4 class="flex">ソート一覧</h4>
     <ul>
      <li class="list-inline-item"><%= sort_link(@q, :scene, "Scene") %></li>
      <li class="list-inline-item"><%= sort_link(@q, :partner, "Partner") %></li>
    　<li class="list-inline-item"><%= sort_link(@q, :genre_name, "Genre_Name") %></li>
    　<li class="list-inline-item"><%= sort_link(@q, :name, "Name") %></li>
    　<li class="list-inline-item"><%= sort_link(@q, :price, "Price") %></li>
     </ul>
   </div>
  </div>

  <h6><%=link_to "blog#new", new_blog_path %></h6>

  <div class="row">
   <% @blogs.each do |blog| %>
  <div class="col-auto">
   <p><%= link_to blog_path(blog) do %>
       <%=attachment_image_tag blog, :image, :fill, 180, 140, format: 'jpeg' %>
       <% end %></p>

  <div class="row">
   <div class="col-8">
     <%=blog.name %><br>
     <%=blog.genre.name %><br>
     <%=blog.price %></p>
   </div>
   <div class="col-4">
    <p><% if blog.favorited_by?(current_user) %>
        <%= link_to blog_favorites_path(blog), method: :delete do %>
         ♥<%= blog.favorites.count %>
        <% end %>
       <% else %>
        <%= link_to blog_favorites_path(blog), method: :post do %>
         ♡<%= blog.favorites.count %>
        <% end %>
       <% end %>
     </p>
    </div>
   </div>

   <%#= link_to "削除", blog_path(blog), method: :delete%>
   </div>
   <% end %>
  </div>
 </div>
</main>