<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<h1>ユーザー検索</h1>
<%= search_form_for @q, url: search_users_path do |f| %>
  <%= f.label :name_cont, 'ユーザー名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>


<% @users.each do|user| %>

 <p4><%=attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg' %></p4>
 <p4><%=user.name %></p4>
 <p4><%=user.introduction %></p4>
 <p4><%= link_to "詳細", user_path(user) %>

 <p4><% if current_user.following?(user) %>
      <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
     <% else %>
      <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
     <% end %>
 </p4>

<% end %>