<main>
 <div class="containar-fluid">
  <div class="row">
   <div class ="col-lg-7 mt-5 ml-5">
　　<h1 class = "border-bottom border-dark fas fa-list"> 会員一覧</h1>
   </div>

   <div class ="col-lg-4 mt-4 ">
     <%= search_form_for @q, url: search_users_path do |f| %>
     <%#= f.label :name_cont, 'ユーザー名' %>
     <%= f.search_field :name_cont %>
     <%= f.submit '検索' %>
     <% end %>

     <h4 class="flex fas fa-search-plus mt-3">ユーザー一覧 並び替え</h4>
     <ul>
      <li class="list-inline-item"><%= sort_link(@q, :name, "名前") %></li>
     </ul>
    </div>
   </div>

  <div class="row mt-5 ml-5">
   <% @users.each do|user| %>
   <div class="col-auto">
    <p><%= link_to user_path(user) do %>
    <%=attachment_image_tag user, :profile_image, :fill, 180, 140, format: 'jpeg', fallback: "no_image.png", size:'180x140'  %>
    <% end %></p>

   <div class="row">
   <div class="col-12">
     <%=user.name %><br>
     <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
       <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
       <% end %>
    </div>
   </div>

   <%#= link_to "削除", blog_path(blog), method: :delete%>
   </div>
   <% end %>
  </div>
  <%= paginate @users %>
 </div>
</main>


