<main>
 <div class="containar-fluid">
  <div class="row">
   <div class ="col-lg-5 mt-5 ml-5">
    <p4><%=attachment_image_tag @user, :profile_image, :fill, 480, 360, format: 'jpeg', fallback: "no_image.png", size:'480x360' %></p4>
   </div>
   <div class ="col-lg-5 mt-5 ml-5">
    <h2><%=@user.name %></h2>
    <h2><%=@user.introduction %></h2>


    <h2><% unless @user == current_user %>
        <% if current_user.following?(@user) %>
         <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :POST %>
        <% else %>
         <%= link_to 'フォローする', follow_path(@user.id), method: :POST %>
        <% end %>
        <% end %></h2>



    <h2>フォロー一覧 <%= @user.follower.count %>人</h2>
        <% @user.following_user.where.not(id: current_user.id).each do |user| %>
     <p>
      <%=attachment_image_tag user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.png", size:'30x30'  %>
      <%=user.name %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
     </p>
        <% end %>

    <h2>フォロワー一覧　<%= @user.followed.count %>人</h2>
      <% @user.follower_user.where.not(id: current_user.id).each do |user| %>
     <p>
      <%=attachment_image_tag user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.png", size:'30x30'  %>
      <%=user.name %>
      <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
      <% end %>
      <%= link_to "show", user_path(user) %>
     </p>
      <% end %>


    <h4><% if @user == current_user %>
        <%= link_to "編集", edit_user_path(@user) %>
        <%= link_to "削除", user_path(@user), method: :delete%>
        <% end %>
    </h4>
   </div>
  </div>

 <h2 class="mt-5 ml-5">ユーザー投稿一覧</h2>
　<%= render "blogs/index" , blogs: @blogs %>



  </div>
</main>



